n_cross_folds:
spliting_proportion:
test_holdout:
deletion_score_coef:
n_trials:
n_iterations:
n_procs:
group_map_files:
prediction_field:
start_level:
deletion_proportion:
merging_abun_coef:
spliting_score_coef:
mapping_file:
spliting_abun_coef:
deletion_abun_coef:
prediction_testing_output:
merging_score_coef:
score_predictions_function:
score_function:
test_partition_size:
feature_vector_output:
merging_proportion:
include_only:
model:
n_keep:
